<footer class='footer'>
  <nav class='navbar navbar-default navbar-fixed-bottom'>
  <ul class='nav navbar-nav'>
    <li>
      <a href='http://railstutorial.org/'>
      Rails Tutorial by Michael Hartl
      </a>
    </li>
  </ul>
    <ul class='nav navbar-nav navbar-right'>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>